@font-face {
  font-family: ProximaNova;
  font-weight: 400;
  src: url("https://rawcdn.githack.com/iF-EvilMorty/iFunny/f3a8d52992fd7799fa43ebc47d49029620fc1d7d/WebFonts/proximanova-regular.420ba985.woff2")
      format("woff2"),
    url("https://rawcdn.githack.com/iF-EvilMorty/iFunny/023bff1b8961773d6bd4312f2b9b80a810fa4ebd/WebFonts/proximanova-regular.2d2ae255.woff")
      format("woff");
}
@font-face {
  font-family: ProximaNova;
  font-weight: 700;
  src: url("https://rawcdn.githack.com/iF-EvilMorty/iFunny/023bff1b8961773d6bd4312f2b9b80a810fa4ebd/WebFonts/proximanova-bold.86ec8c51.woff2")
      format("woff2"),
    url("https://rawcdn.githack.com/iF-EvilMorty/iFunny/023bff1b8961773d6bd4312f2b9b80a810fa4ebd/WebFonts/proximanova-bold.e2cf3dc2.woff")
      format("woff");
}
@font-face {
  font-family: ProximaNovaCond;
  font-weight: 900;
  src: url("https://rawcdn.githack.com/iF-EvilMorty/iFunny/023bff1b8961773d6bd4312f2b9b80a810fa4ebd/WebFonts/proximanovacond-black.213b99ec.woff2")
      format("woff2"),
    url("https://rawcdn.githack.com/iF-EvilMorty/iFunny/023bff1b8961773d6bd4312f2b9b80a810fa4ebd/WebFonts/proximanovacond-black.8576a0d0.woff")
      format("woff");
}
