body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Lucida Sans', Arial, sans-serif;
	line-height: 0.25rem;;
	color: gold;
	background-color: black;
}
h1 {
	color: gold;
}
.grid-container {
	columns: 6 250px;
	column-gap: 1rem;
	width: 85%;
	margin: 0.25rem 0.25rem;
}
.grid-container div {
	width: 250px;
	margin: 0 1rem 1rem 0;
	display: inline-block;
	border: solid 1px black;
	padding: 4px;
	box-shadow: 4px 4px 4px gray;
	border-radius: 4px;
	transition: all .25s, visibility .25s ease-in-out;
	background-color: white;
}
.grid-container div:after {
	z-index: -1;
}
.grid-container div:hover {
	background-color: black;
	box-shadow: 4px 4px 4px yellow;
	border-color: gold;
	transform: scale(2);
	display: inline-block;
	position: relative;
	z-index: 1
	margin: 0 -1rem 1rem 0;
}
.grid-container div img {
	width: 100%;
	filter: grayscale(50%);
	border-radius: 4px;
	transition: all .25s ease-in-out;
}
.grid-container div:hover img {
	filter: grayscale(0);
	cursor: pointer;
}
.grid-container div p {
	display: none;
	color: #adb7bd;
	font-style: bold;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	text-indent: 0px;
	margin: 0;
	padding: 0;
}
.grid-container div:hover p{
	display: inline-block;
}
